h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: DarkGreen
}